.link {
    color: black;
    list-style: none;
    text-decoration: none;
}

a.link:hover {
    color: black;
}

a.link:focus,
a.link:active {
    color: black !important;
}

.tblwrp {
    word-break: break-all;
}

.l-link {
    overflow-x: scroll;
    overflow-y: scroll;
}

.child-link {
    height: 100vh;
}
F
.light {
    background-color: aqua;
}

.dark {
    background-color: burlywood;
}