.link {
    color: black;
    list-style: none;
    text-decoration: none;
}

a.link:hover {
    color: black;
}

a.link:focus,
a.link:active {
    color: black !important;
}

.tblwrp {
    word-break: break-all;
}

.l-link {
    overflow-x: scroll;
    overflow-y: scroll;
}

.child-link {
    height: 100vh;
}

.light {
    background-color: aqua;
    color: rgb(36, 32, 32);
}

.dark {
    background-color: burlywood;
    color: rgb(36, 32, 32);
}

.todoovrf {
    overflow-y: scroll;
}

#name {
    outline: none;
    border: none;
}

.Home,
.contact {
    height: 100vh;
}