.hhh {
    color: aliceblue;
    height: 100vh;
}

.same {
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50%;

}

h1 {
    background-color: aliceblue;
}

.textbg {
    display: flex;
    justify-content: center;
}

.colorbox {
    background-color: rgba(41, 43, 39, 0.591);
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;

}

.yellowgreen {
    background-color: yellowgreen;
    word-wrap: break-word;
}

.jambu {
    background-color: blueviolet;
}

.black {
    background-color: black;
    color: white;
}

.green {
    background-color: green;
}

.xw {
    color: cornflowerblue;
}